:global .slick-slider {
  padding: 0 10px;
}

:global .slick-track {
  left: -25px;
}

:global .slick-active {
  z-index: 1;
}

:global .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  outline: none;
  z-index: 2;
}

:global .slick-prev {
  left: 0px;
}

:global .slick-next {
  right: 0px;
}

:global .slick-slide {
  margin: 0;
  & li {
    vertical-align: middle;
    & img {
      max-width: 100%;
      margin: 0 auto;
    }
  }
}
