.imageGroup {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: auto;
  margin: 0 auto;
  padding: 15px;
  & li {
    position: relative;
    width: 97%;
    padding: 0;
    margin: 0 11.5px;
    vertical-align: top;
    & .imageContainer {
      position: relative;
      padding-top: 170px;
      border: 1px solid rgba(239,83,80,0);
      border-radius: 3px;
      overflow: hidden;
      transition: 0.3s;
      & .image {
        height: 170px;
      }
    }
    & .imageContainer:hover {
      opacity: 0.85;
      & .image {
        border-radius: 1px;
      }
    }
  }
}

.marketedBy {
  position: absolute;
  top: 151px;
  background: #fffd;
  display: block;
  width: 100%;
  text-align: center;
}

.featuredProjects ul li {
  text-transform: capitalize;
}

.limitContent {
  font-weight: 400;
  padding: 0 0 5px;
  white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}


@media (max-width: 991px) {
  .imageGroup {
    & li {
      width: 40%;
    }
  }
}

@media (max-width: 767px) {
  .imageGroup {
    & li {
      width: 45%;
    }
  }
}

@media (max-width: 710px) {
  .imageGroup {
    & li {
      width: 49%;
    }
  }
}

@media (max-width: 650px) {
  .imageGroup {
    & li {
      width: 55%;
    }
  }
}

@media (max-width: 580px) {
  .imageGroup {
    & li {
      width: 60%;
    }
  }
}

@media (max-width: 440px) {
  .imageGroup {
    & li {
      width: 68%;
    }
  }
}

@media (min-width: 992px) {
  .imageGroup {
    white-space: normal;
    overflow: visible;
    padding: 0;
    & li {
      width: 22%;
      margin: 0 14px;
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 1200px) {
  .imageGroup {
    & li {
      width: 23%;
      margin: 0 11.5px;
      margin-bottom: 20px;
    }
  }
}

.image {
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.whiteSpaceNormal {
  white-space: normal;
}
