.bgDiv {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.featuredTile {
  height: 300px;
  position: relative;
}
.featuredTilePriceDiv {
  width: auto;
  display: table-cell;
  bottom: 0;
  background-color: #e3530d;
  font-size: 32px;
  font-weight: bolder;
  padding: 5px 15px;
  color: white;
  position: absolute;
}

@media only screen and (max-width: 767px) {
  .featuredTile {
    height: 300px;
  }
}


