.projBack {
  height: 155px;
  background-position: center;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  background-size: cover;
  overflow: hidden;
}
.projTileName {
  font-size: 16px !important;
  display: block;
  margin-top: -2px;
}
.projTileLocation{
  font-size: 13px !important;
  display: block;
  margin: 3px 0;
  font-weight: bold;
  color: rgb(39, 57, 71);
  text-transform: capitalize;
  & span {
    color: #26a59a;
    font-weight: 100;
  }
}
.projTileAgency{
  font-size: 14px !important;
    display: block;
    margin: 0;
    color: #ef5350;
    text-transform: capitalize;
}
.projTilePrice {
  font-size: 15px;
  display: block;
}
.tileContent {
  /* padding: 0 0 15px; */
  margin-bottom: 15px;
  width: 100%;
}
.iconGrid {
  padding: 5px 10px;
  width: auto;
  display: inline-block;
  text-align: center;
  background: #ffffffcc;
}
.iconGrid a {
  display: inline-grid;
  color:#ef5350;
  margin-right: 20px;
  min-width: 25px;
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .projBack {
    height: 110px;
    border-radius: 3px;
  }
  .projTileName {
    font-size: 14px !important;
  }
  .projTileAgency{
    font-size: 12.5px !important;
  }
  .projTileLocation{
    font-size: 11px !important;
  }
  .projTilePrice {
    font-size: 13px !important;
  }
}