@import 'variables.css';

.header {
  display: none;
  padding: 2px 15px;
  color:white;
  position:absolute;
  top:11px;
  right:0px;
}
.projectContainer {
  text-align:left;
  position: absolute;
  bottom: 0px;
  padding: 0 10px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
  width:100%;
}
.projectContainer h4 {
  font-size:15px;
  color:#fff;
}
.projectContainer p {
  color:#fff;
}
.projectContainer span {
  color: #fff;
  font-size:18px;
  font-weight:900;
  padding-right:10px;
}

.imageContainer {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sideImages {
  display: none;
  & ul > li {
    height: 125px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 1px solid var(--white);
    &:last-child {
      border-bottom: none;
    }
  }
}

.footer {
  & .priceContainer {
    background-color: var(--lightGray);
    & .price {
      font-size: 26px;
      padding: 6px 10px;
      margin-bottom: 0;
    }
  }
}

.premium, .verified {
  & .sideImages {
    display: block;
  }
  & .secondImage {
    display: none;
  }
  & .footer {
    & .price {
      color: var(--white);
    }
  }
}

.premium {
  & .header {
    display: block;
    background-color: #11b666;
  }
  & .footer {
    & .priceContainer {
      background-color: #11b666;
    }
  }
}

.verified {
  & .header {
    display: block;
    background-color: #ef5350;
  }
  & .footer {
    & .priceContainer {
      background-color: #ef5350;
    }
  }
}

.properties {
  & :global .unslick {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0 15px;
    & a {
      display: inline-block;
      width: 90%;
      padding: 0 7.5px;
      & img {
        max-width: 100%;
      }
    }
  }
}

.heightOfRelProp {
  height: 250px;
}

@media (min-width: 992px) {
  .properties {
    & :global .unslick {
      &> a {
        width: 33%;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .heightOfRelProp {
    height: 200px;
  }
}
@media (--large-screen-only) {
  .properties {
    & :global .unslick {
      &> a {
        width: 47%;
      }
    }
  }
  .details {
    position: relative;
    height: 200px;
    border-left: 1px solid var(--stroke);
    border-bottom: 1px solid var(--stroke);
    & .addedBy {
      position: absolute;
      right: 10px;
      bottom: 0px;
    }
  }

  .separator {
    border-right: 1px solid var(--white);
  }

  .footer {
    & button {
      margin-right: 10px;
    }
  }

  .premium, .verified {
    & .details {
      height: 250px;
    }
    & .imageContainer {
      height: 250px;
    }
  }

  .grid {
    width: calc(33.33% - 10px);
    margin-right: 10px;
    float: left;
    & .imageContainer, & .priceContainer {
      width: 100%;
    }
    & .secondImage, & .sideImages {
      display: none;
    }
    & .details {
      height: auto;
      width: 100%;
      border: none;
      & .addedBy {
        position: initial;
      }
      & .description {
        display: none;
      }
    }
    & .footer {
      & button {
        width: 50%;
        margin-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        border: none;
        &:first-child {
          border-right: 1px solid var(--stroke);
        }
      }
    }
  }
}
