
.tile {
  /* min-height: 279px; */
  margin-bottom: 15px;
  width: 100%;
}
.projBack {
  height: 155px;
  margin-bottom: 5px;
  background-position: center;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  background-size: cover;
}
.projBackBG {
  background-position: center;
  background-size: cover;
}
.projBackPlaceholder{
  height: 155px;
  margin-bottom: 5px;
  background-position: center center;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
}
.stopOverflow {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
} 
.propTilePrice {
  display: block;
  font-size: 15px;
}
.propTileProps {
  display: block;
  font-size: 13px;
}
.propTileTitle {
  display: block;
  font-size: 16px;
}
.propTileLocation {
  font-size: 13px !important;
  display: block;
  margin: 0;
  color: #26a59a;
}
.propTileAgency {
  color: #ef5350;
  font-size: 14px;
}
.tileContent {
  padding: 0 2px 5px 2px;
}
.iconGrid {
  margin-top: 10px;
  display: block;
  text-align: center;
}
.iconGrid a {
  display: inline-grid;
  color:#ef5350;
  margin-right: 30px;
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .tile {
    /* min-height: 224px; */
  }
  .projBack {
    height: 110px;
  }
  .projBackPlaceholder{
    height: 110px;
  }
  .propTileLocation {
    font-size: 11px !important;
  }
  .propTileTitle {
    font-size: 14px !important;
  }
  .propTileAgency {
    font-size: 12.5px !important;
  }
}
