@import 'variables.css';

.container {
  border-bottom: 1px solid #ebebeb;
  background-color: var(--backgroundDarker);
  width: 100%;
  & :global .container-fluid {
    padding: 0 150px;
  }
}

.afilter {
  display: inline-block;
  position: relative;
}

.filters {
  padding: 10px 15px;
  & > .displayFlex{
    display: flex;
  }
  & > div {
    display: inline-block;
    position: relative;
  }
  & :global .btn {
    margin-right: 10px;
    height: 45px;
  }
}

.filtersTop {
  width: auto;
  display: inline-flex;
}

.moreFilters {
  width: 765px;
}
.selectSearch {
  width: auto;
  overflow: unset;
  display: inline-flex !important;
  flex: 1 1 auto;
  margin-right: 10px;
  position: relative;
  margin-left: 10px;
  & .selectCity {
    width: 180px;
  }
  & .selectArea {
    position: absolute;
    left: 181px;
    z-index: 100;
    //min-width: 270px;
    width: calc(100% -181px);
    max-width: calc(100% - 181px);
  }
}

.popover {
  position: absolute;
  top: calc(100% + 5px);
  box-shadow: 2px 2px 8px #aaaaaa77;
  left: 0;
  min-width: 100px;
  z-index: 10;
  & .popoverContainer {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
.turnRight {
  left: auto !important;
  right: 10px;
}

.popoverOptionHead {
  width: max-content;
  color: #aaa;
  width: 100%;
  border-bottom: 2px solid #ddd;
  margin-bottom: 12px;
  padding: 6px;
  cursor: pointer;
  & input {
    height: 22px;
    width: 22px;
    vertical-align: -22.5%;
  }
  &:hover {
    background: #f7f7f7;
  }
}

.subOption {
  padding-left: 10px;
  cursor: pointer;
  &:hover {
    background: var(--backgroundDarker);
  }
}

.panel {
  background-color: var(--backgroundDarker);
  padding: 15px 15px 10px;
  margin: 0 -15px;
}

.filtersmmargin {
  margin-bottom: 20px;
}

.currentCurrency {
  margin-top: -20px;
  margin-left: -20px;
  margin-bottom: 20px;
  & i {
    color: #02897a;
    padding-left: 5px;
  }
}

.sizeFilter {
  width: 300px;
  padding: 15px 15px 25px;
  & .unitSelect {
    padding-top: 12px;
  }
}

.selectStyle {
  float: left;
}

.sidenote {
  line-height: 15px;
  font-size: 10px;
  margin-bottom: -10px;
}

.filterCityInput {
  border: none;
  width: 40%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  margin: 0;
  padding: 0 10px;
  height: 45px;
  background: #fff;
}
.inputSeparator {
  border-left: 1px solid #ddd;
  height: 30px;
  margin-top: 7px;
  z-index: 1;
}
.filterSearchInput {
  border: none;
  width: 60%;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin: 0;
  padding: 0 10px;
  height: 45px;
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #ef5350;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.separateFilters {
  width: 0;
  display: table;
  position: relative;
  height: 100%;
  &:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    border-left: 1px solid #ddd;
    height: 100px;
    margin-top: 15px;
  }
}
.turnGreen {
  background: #26a59a;
  color: #fff;
}

.filterRows {
  width: 765px;
  display: inline-block;
}
.columnFilters {
  padding: 10px 17px;
  padding-left: 0px;
  & .rowFilter {
    display: table;
    position: relative;
    width: 100%;
    padding: 0;
    & .filterTitle {
      display: table;
      background: #f5f5f5;
      padding: 5px 5px;
      margin: 10px 0;
      width: 100%;
      cursor: pointer;
      border-bottom: 2px solid #dbdbdb;
    }
    & .clickFilter {
      display: none;
      position: absolute;
      margin-top: -12px;
      padding: 15px 5px;
      width: 225px;
      background: #fff;
      border: 1px solid #ddd;
      border-top: 2px solid #ef5350;
      box-shadow: 2px 2px 8px #aaaaaa55;
      z-index: 2;
      top: 100%;
      left: 0;
    }
  }
}

.smallmargin {
  & :global .btn-group {
    vertical-align: initial;
    height: auto;
    padding-right: 10px;
  }
}

.graanaLogo {
  position: relative;
  top: 5px;
  z-index: 103;
  float: left;
  width: 120px;
  height: 32px;
  display: none;
  margin-right: 10px;
  & svg {
    fill: var(--red);
  }
}


@media (--large-screen-only) {
  .filterContainer {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s ease-in-out;
    &.expand {
      max-height: 1000px;
    }
  }
}

@media (--small-screen-only) {
  .areaInfo {
    float: left;
    width: 84%;
  }
}

@media only screen and (max-width: 1469px) {
  .container {
    & :global .container-fluid {
      padding: 0;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .filtersTop {
  }
  .selectSearch {
    width: 100%;
    margin-left: 0;
    & .selectCity {
    }
    & .selectArea {
    }
  }
  .graanaLogo {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  .selectSearch {
    width: 100%;
    overflow: visible;
    display: inline-block !important;
    margin-right: 0;
    position: relative;
    z-index: 5;
    margin-left: 0;
    & .selectCity {
      width: 100%;
      margin-bottom: 10px;
      border: 1px solid #ddd;
    }
    & .selectArea {
      position: relative;
      left: 0;
      border: 1px solid #ddd;
      z-index: unset;
      min-width: 100%;
      width: 100%;
      max-width: 100%;
    }
  }
  .moreFilters {
    width: 100%;
  }
  .currentCurrency {
    margin-left: 0px;
    margin-top: -10px;
    margin-bottom: 20px;
  }
  .sizeFilter {
    width: auto;
    padding: 15px 0px 25px;
  }
  .filterRows {
    width: auto;
  }
  .columnFilters {
    & .rowFilter {
      & .clickFilter {
        width: auto;
      } 
    } 
  }
  .separateFilters {
    display: none;
  }
  .fixintype input, .fixintype select {
    margin-bottom: 10px;
    border: 1px solid #ddd !important;
  }
  .fixintype {
    padding-top: 5px;
    width: 200px;
    & .fixintypepadd {
      padding-left: 0px;
    }
  }
  .smallmargin {
    & :global .btn-group {
      padding-right: 0;
    }
  }
  .filters {
    padding-bottom: 0px;
  }
  .filterContainer {
    margin-bottom: 0px;
  }
  .filtersmmargin {
    margin-bottom: 0px;
  }
  .afilter {
    margin: 5px 0px;
  }
  .spacexs {
    margin-bottom: 10px;
    & input {
      height: 50px;
    }
    & select {
      height: 50px;
    }
    & strong {
      font-size: 16px;
      letter-spacing: 0.6px;
    }
  }
  .turnRed {
    color: white;
    background: #ef5350;
  }
}
