@import 'variables.css';

.changes {
  & input {
  	border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
  }
}

.bannerWrapper {
  position: relative;
  height: calc(100vh - 185px);
}
.homeCoverStyle {
  width: 100%;
  height: 50vh;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.coverText {
  color: white;
  font-weight: bolder;
  font-size: 45px;
  letter-spacing: 4px;
  text-align: center;
  line-height: 1;
}
.coverTextWrapper {
  padding-top: 40px; 
  position: absolute;
  & .subtitle {
    font-size: 18px;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    text-transform: capitalize;
  }
}

.selectControl {
  width: 50vw;
  padding-top: 30px; 
  & .Select-control {
    height: 42px;
    border-radius: 10px;
    border: none;
    opacity: 0.9;
  }
  & .Select-placeholder {
    margin-left: 20px;
    padding: 5px;
    font-size: 18px;
  }
  & .Select-value {
    padding-left: 35px !important;
    padding: 5px;
    font-size: 18px;
  }
  & .Select-input {
    padding-left: 35px !important;
    padding: 4px;
    padding-left: 15px;
  }
}


.Select.has-value.is-clearable.Select--single > .Select-control .Select-value {
  padding-left: 35px !important;
}

.tourTileDescriptionDiv {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  font-size: 24px;
  font-weight: bolder;
  color: white;
  opacity: 0.7;
}
.featuredAgenciesContainer {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (--large-screen-only) {
  .bannerWrapper {
    height: calc(100vh - 185px);
    background: #000;
  }
}
.link {
    cursor: pointer;
    color: #ef5350;
  }
.banner {
  background-position: 50% 50% !important;
  background-size: cover !important;
  width: 100%;
  height: calc(100vh - 185px) !important;
}

.bannerHeading {
  & h1 {
    font-size: 82px;
    font-weight: 300;
    color: #fafafa;
    /* font-family: 'CenturyGothic', sans-serif; */
  }
}

.tagLine {
  color: #fff;
  font-size: 20px;
}

.placeholderImg {
  position: relative;
  display: block;
  height: calc(100vh - 245px);
  overflow: hidden;
  & .img {
    height: 100%;
    width: 100%;
    background-position: bottom !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
  & .placeholderBg {
    height: 100%;
    width: 100%;
    background-position: center center !important;
    background-size: 68% auto !important;
    background-repeat: no-repeat !important;
  }
  & p {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    color: white;
  }
}

.searchWrapper {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  & .search {
    max-width: 1000px;
    padding-top: 0px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    & :global .input-text-projects {
      height: 48px;
      border-radius: 0px;
      border: none;
      padding: 12px 125px 12px 15px;
      font-size: 15px;
      font-weight: 300;
      width: 100%;
      border-radius: 3px;
    }
    & :global .input-text {
      height: 48px;
      border-radius: 0px;
      border: none;
      padding: 12px 15px 12px 15px;
      font-size: 15px;
      font-weight: 300;
    }
  }
}

.searchButton {
  padding: 12px 15px;
  height: 48px;
  color: var(--white);
  background-color: #ef5350;
  border-right-color: #ae3f44;
  border-radius: 0;
  &:hover {
    color: var(--white);
    background-color: #f53c42;
  }
}

.smallSearch {
  padding: 15px;
  border: 1px solid var(--lightGray);
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 #ddd;
  margin: 25px 15px;
  & p {
    font-size: 16px;
    margin-bottom: 0;
  }
}

.grid {
  & .grid_logo {
    width: 130px;
    height: 135px;
    margin: 0 auto;
    & svg {
      fill: var(--white);
    }
  }
  & :global .react-autosuggest__container {
    & input {
      font-size: 18px;
      line-height: 1.3333333;
      box-shadow: 3px 3px 10px rgba(0,0,0,.2);
    }
    & img {
      position: absolute;
      top: 12px;
      right: 12px;
      max-width: 24px;
    }
  }
  & :global .react-autosuggest__suggestions-container {
  }
}

.works {
  background-color: var(--background);
  border-top: 1px solid #efefef;
  padding: 60px 0;
  & .works_check {
    display: inline-block;
    float: left;
    text-align: center;
    width: 24px;
    margin-right: 10px;
  }
  & .works_text {
    float: left;
    width: calc(100% - 34px);
  }
}

.headingUnderline {
  background-color: #ef5350;
  height: 2px;
  width: 100px;
  margin: 15px auto;
}


.horizontalScrollContainer {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.homevid {
  height: 310px;
  display: block !important;
}

.hoverFade {
  transition: 0.3s ease;
}
.hoverFade:hover {
  opacity: 0.8;
}
.howItWorks {
  background-size: contain;
  height: 315px;
}
.vcenter {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}
.infoDiv {
  padding: 10px 15px;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  background: rgba(0,0,0,0.5);
  & .detailsText:hover {
    opacity: 1;
    color: #ffffff;
  }
  & .projectLogo {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: center;
    width: 107px;
    height: 107px;
  }
  & .detailsText {
    display: block;
    padding-bottom: 5px;
    opacity: 0.7;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 107px;
  }
}

.searchSelector {
  min-width: 120px;
  text-align: center;
  border-radius: 0px;
  border: 1px solid #fff;
  padding-right: 10px;
  color: white;
  cursor: pointer;
  &:hover {
    color: var(--white);
    background-color: rgba(255,255,255,0.2);
  }
}
.searchSelector:last-of-type {
  border-left: none;
}

.propertyPopup {
  position: fixed;
  box-shadow: 0 1px 10px #bbb;
  width: 100%;
  height: 100vh;
  top: 0 !important;
  left: 0 !important;
  right: 0;
  bottom: 0;
  z-index: 1201;
  background: #fff;
  padding: 15px;
}

.projectPopup {
  position: fixed;
  box-shadow: 0 1px 10px #bbb;
  width: 100%;
  height: 100vh;
  top: 0 !important;
  left: 0 !important;
  right: 0;
  bottom: 0;
  z-index: 1201;
  background: #fff;
  padding: 45px 15px 15px;
  & .closeBtn {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 24px;
    height: 24px;
  }
  & input {
    width: 100%;
    height: 46px;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
  }
}

.searchBtns {
  margin: 10px 15px;
  width: calc(50% - 30px);
}

.turnRed {
  color: white;
  background: #ef5350;
}

.searchButtonXS {
  padding: 12px 15px;
  height: 48px;
  color: #ef5350;
  background-color: white;
  border: 1px solid #ef5350;
  border-radius: 3px;
  &:hover {
    color: var(--white);
    background-color: #ef5350;
  }
}
.closeButtonXS {
  padding: 12px 15px;
  height: 48px;
  color: #999;
  background-color: white;
  border: 1px solid #999;
  border-radius: 3px;
  &:hover {
    color: var(--white);
    background-color: #999;
  }
}

.popHeadingCont {
  padding: 0;
  border: 1px solid #ddd;
  border-right: none;
}
.popHeadings {
  padding: 20px 25px;
  margin: 0;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  font-size: 18px;
}
.borderFry {
  border-bottom: none;
  padding-bottom: 5px;
}
.borderFry:nth-of-type(n+2) {
  border-top: 1px solid #ddd;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.borderFry2 {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.borderFry2:nth-of-type(n+2) {
  border-bottom: none;
  padding-bottom: 5px;
}
.popHeadings:last-of-type {
  border-bottom: none;
}
.popSubs {
  font-size: 12px;
  margin: 0;
  color: #757575;
  margin-left: 25px;
  padding: 5px 10px;
}
.popSubs:last-of-type {
  margin-bottom: 15px;
}
.popSubs.red {
  color: #ef5350;
}
.popListCont {
  position: relative;
  border: 1px solid #ddd;
  height: 427px;
  padding: 10px 15px 20px;
  & .pops {
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 15px;
  }
}
.mostPopList {
  padding: 10px 15px;
  padding-right: 65px;
  font-size: 14px;
  & img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: -2px;
  }
  & span {
    position: absolute;
    color: #ef5350;
    right: 20px;
  }
}
.red {
  color: #ef5350;
  background: #f5f5f5;
}

.searchSelectorActive {
  position: relative;
  background: #1a8e85 !important;
}
.searchSelectorActive::after {
  display: block;
  position: absolute;
  left: 50%;
  bottom: -11px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #fff;
}

.sc_li {
  width: 25% !important;
  font-size: 14px !important;
}

@media only screen and (max-width: 991px) {
  .bannerHeading {
    & h1 {
      font-size: 58px;
    }
  }
  .tagLine {
    color: #fff;
    font-size: 18px;
  }
  .popListCont {
    height: 477px
  }
  .mostpopTabletView {
    display: none;
  }
}

.searchIconDiv {
  bottom: 15px;
  z-index: 9;
  left: 9px;
  position: absolute;
}

@media only screen and (max-width: 767px) {
  .coverText {
    font-size: 24px;
  }
  .homeCoverStyle {
    height: 70vh;
  }
  .coverTextWrapper {
    top: 120px;
    & .subtitle {
      font-size: 14px;
    }
  }
  .selectControl {
    width: 100vw;
    padding: 20px;
  }
  .spacexs {
    margin-bottom: 10px;
    & input {
      height: 50px;
    }
    & select {
      height: 50px;
    }
    & strong {
      font-size: 16px;
      letter-spacing: 0.6px;
    }
  }
  .vcenter {
    top: 40%;
  }
  .infoDiv {
    padding: 5px 10px;
    bottom: 170px;
    right: 0;
    & .projectLogo {
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 97px;
      height: 97px;
    }
    & .detailsText {
      max-width: 97px;
    }
  }
  .homevidcont {
    margin-bottom: 40px;
  }
  .works {
    padding: 40px 0px;
    display: block !important;
  }
  .bannerWrapper {
    position: relative;
    height: calc(100vh - 185px) !important;
  }
  .banner {
    height: calc(100vh - 185px) !important;
  }
  .bannerHeading {
    & h1 {
      font-size: 42px;
    }
  }
  .tagLine {
    color: #fff;
    font-size: 16px;
  }
  .searchWrapper {
    & .search {
      margin-bottom: 0;
      & :global .input-text {
        font-size: 12px;
        padding: 12px 72px 12px 15px;
      }
      & :global .input-text-projects {
        font-size: 12px;
        padding: 12px 72px 12px 15px;
      }
    }
  }
  .searchSelector {
    min-width: 100px;
    width: 33.333%;
    text-align: center;
  }
  .works{
    display: none !important;
  }
  .featuredAgenciesContainer {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}



@media only screen and (max-height: 670px) and (max-width: 400px) {
  
  .vcenter {
    top: 35%;
  }
  .infoDiv {
    bottom: 165px;
    right: 0;
    & .projectLogo {
      width: 92px;
      height: 92px;
    }
    & .detailsText {
      max-width: 92px;
    }
  }
  .bannerWrapper {
    position: relative;
    height: calc(100vh - 185px) !important;
  }
  .banner {
    height: calc(100vh - 185px) !important;
  }
}


@media screen and (min-width: 320px) and (max-width: 991px) and (orientation: landscape) {
  .bannerWrapper {
    height: 100vh !important;
  }
  .banner {
    height: 100vh !important;
  }
}
